```env
# Coloque aqui a string de conexão do seu SQL Server
CONNECTION_STRING=Server=(localdb)\MSSQLLocalDB;Database=FinControlDb;Trusted_Connection=True;TrustServerCertificate=True

# JWT
# Coloque aqui uma chave secreta e aleatória
JWT_KEY=COLOQUE_SUA_CHAVE_JWT_AQUI
JWT_ISSUER=FinControlAPI
JWT_AUDIENCE=FinControlClient
# Coloque aqui o tempo de expiracao do token JWT
JWT_EXPIRA_EM_MINUTOS=120

# E-mail
# Coloque aqui os dados da sua conta Gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=COLOQUE_SEU_EMAIL_AQUI
EMAIL_PASSWORD=COLOQUE_SUA_SENHA_DE_APP_AQUI
EMAIL_FROM=COLOQUE_SEU_EMAIL_AQUI
```